body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Arial,Helvetica;
    font-size: 12px;
    background: url(/media/images/pattern.png) repeat;
}

#feedback {
    position: fixed;
    top: 150px;
    right: 0px;
    opacity: 0.6;
    cursor: pointer;
}

header #bar {
    padding-right: 50px;
    padding-left: 50px;
    display: block;
    margin: 0 auto;
    height: 35px;
    background:#f9fbff url(/media/images/top_nav.png) repeat;
    box-shadow:5px 5px 5px #f9fbff;
}

a {
    color: #5C6879;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header #bar .right a {
    line-height: 30px;
    padding: 10px 20px;
    margin-left: -2px;
    border-right: 1px solid #EAEEF6;
    text-decoration: none;
    color: #5C6879;
    font-size: 13px;
    font-weight: bold;
    height: 13px;
}

header #bar .right {
    border-left: 1px solid #EAEEF6;
}

header #bar .right a:hover, header .right a:active {
    background:#f2f4f7;
}

header #bar .right a.selected {
    background:#f2f4f7;
}

#logo {
    border: none;
    margin: 0 auto;
    padding-right: 800px;
    display: block;
    width: 200px;
}

#bar .judul {
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
    font-size: 24px;
    font-weight: bold;
}

nav #main_nav {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 43px;
    width: 1000px;
    background: url(/media/images/nav_bg.png) repeat;
    border-radius: 10px;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;    
}

nav #main_nav a {
    float: left;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 20px;
    padding-left: 40px;
    margin-left: 2px;
    text-decoration: none;
    height: 13px;
}

nav #main_nav .right a {
    padding-left: 20px;
}

nav #main_nav a:hover {
    background-color: #000;
    color: #BBB;
}

nav #main_nav .divider {
    float: left;
    margin-top: 1px;
}

nav #main_nav img.icon {
    position: absolute;
    text-decoration: none;
    border: none;
    margin-top: -2px;
    margin-left: -25px;
}

nav #main_nav .icon.first {
    margin-top: -5px;
}

nav #main_nav a.select {
    background-color: #000;
    color: #BBB;
}

nav #sidebar ul li {
    list-style-type: none;
    padding: 5px 0;
}

nav #sidebar ul li a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    padding-right: 10px;
}

nav #sidebar ul li a.selected, nav #sidebar ul li a:hover {
    color: black;
    opacity: 1;
}

nav #sidebar ul li img {
    margin-left: -20px;
}

nav #sidebar {
    margin: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #B7D1DC;
    background: white;
    box-shadow: black 0 0 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

nav #sidebar2 {
    margin-left: 790px;
    top: 195px;
    position: absolute;
    width: 190px;
    border: 1px solid #B7D1DC;
    background: #f2f3f6;
    border-radius: 5px;
    box-shadow: black 0 0 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

nav #sidebar3 {
    margin-left: 790px;
    top: 450px;
    position: absolute;
    width: 190px;
    border: 1px solid #B7D1DC;
    background: #f2f3f6;
    border-radius: 5px;
    box-shadow: black 0 0 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

nav #sidebar2 h3, nav #sidebar3 h3 {
    text-align: center;
    color: #5C6879;
    font-size: 12px;
}

nav #sidebar2 ul li {
    list-style-type: square;
    margin-left: -10px;
    margin-right: 10px;
    padding: 3px;
}

nav #sidebar3 ul li {
    list-style-type: none;
    margin-left: -10px;
    margin-right: 10px;
    padding: 3px;
}

nav #sidebar3 ul li img {
    position: absolute;
    margin-left: -22px;
    margin-top: 5px;
}

nav #sidebar2 ul li:hover, nav #sidebar3 ul li:hover {
    background: #DDD;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: black 0 0 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}


nav #sidebar2 ul li .time5, .time, nav #sidebar3 ul li .time5 {
    color: #5C6879;
}

#period {
    font-size: 14px;
    font-weight: bold;
    color: #5C6879;
    padding-top: 40px;
    margin-bottom: -10px;
    text-decoration: underline;
}

.val {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -10px;
    padding: 15px 20px 15px 40px;
    background: #FFF;
    color: #827451;
    border-radius: 5px;
    box-shadow: black 0 0 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

img.ico {
    margin-bottom: -40px;
    margin-left: 5px;
}

img.ico:hover {
    cursor: pointer;
    opacity: 0.6;
}

img.del {
    margin-right: 5px;
    margin-top: -35px;
}

img.del:hover {
    cursor: pointer;
    opacity: 0.6;
}


.val p.add {
    font-size: 12px;
    color: green;
    text-decoration: underline;
    display: inline-block;
    position: absolute;
    margin-top: -8px;
    margin-left: 5px;
}

.val p.add:hover {
    cursor: pointer;
    text-decoration: none;
}

#note {
    text-align: justify;
    font-size: 11px;
    display: inline-block;
    color: #5C6879;
    font-style: italic;
}

.notes {
    display: none;
}

.addnote td {
    font-weight: bold;
    color: #5C6879;
    cursor: pointer;
}

.addnote td:hover {
    text-decoration: underline;
}

.val:hover, .valhide:hover {
    cursor: pointer;
    background: #EEF;
}

.valhide {
    display: none;
    margin-bottom: -10px;
    height: 200px;
    padding: 15px 20px 15px 40px;
    background: #EEF;
    border-radius: 5px;
    box-shadow: black 0 0 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.addnote:hover {
    text-decoration: none;
}

.time img {
    margin-bottom: -15px;
}

article#logbook {
    margin-top: -262px;
    width: 100%;
    display:block;
}

article#settings {
    margin-top: -380px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display:block;
}


article#logbook table {
    width: 450px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 250px;
}

article#settings table {
    width: 600px;
    margin-top: 50px;
    margin-left: 250px;
    display: block;
    padding-bottom: 100px;
}

article#logbook table tr td, article#settings table tr td {
    padding: 5px;
}

.label {
    width: 75px;
}

.labeledit {
    display:inline-block;
    width:100px;
    vertical-align:top;
    padding-left:10px;
    padding-top:5px;
}

p.statveryhigh {
    width: 70px;
    margin-top: -20px;
    color: #CF3B1A;
    display: inline-block;
}

p.stathigh {
    width: 70px;
    margin-top: -20px;
    color: #9D4F17;
    display: inline-block;
}

p.statnormal {
    width: 70px;
    margin-top: -20px;
    color: #4B830F;
    display: inline-block;
}

p.statlow {
    width: 70px;
    margin-top: -20px;
    color: #C0AF05;
    display: inline-block;
}

p.statverylow {
    width: 70px;
    margin-top: -20px;
    color: #FCBF00;
    display: inline-block;
}

p.stat {
    padding-left: 5px;
    width: 80px;
    display: inline-block;
}

.label_settings {
    width: 200px;
}

.field {
    width: 200px;
}

.field_settings {
    width: 300px;
}

article#logbook h2, article#settings h2 {
    text-align: center;
    margin: 10px auto;
    width: 100%;
    display: block;
}

article#logbook h2 img, article#settings h2 img {
    margin-bottom: -8px;
    margin-right: 5px;
}

.logo {
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    border: 0;
}

footer #foot {
    font-family: 'Droid Sans','Lucida Grande';
    font-size: 12px;
    height: 100px;
    text-align: center;
    padding-top: 100px;
}


.copy {
    color:#7d7d7d
}

.right {
    float: right;
}

.left {
    float: left;
}

article#settings table.deletelogbook .calendar {
    margin: 0 25px;
    display: block;
    text-align: center;
}

article#settings table.deletelogbook .calendar tr td {
    padding: 2px;
}

#calendar table.calendar tr td, #logbook #calendar table.calendar tr th {
    padding: 0 10px;;
}

#calendar table.calendar tr th {
    background: #EEE;
}


#calendar table.calendar tr td:hover {
    background: #BBB;
    cursor: pointer;
}

#insulineview, #medsview {
    display: none;
}

.page {
    cursor: pointer;
}

.getpageleft {
    margin-right: 50px;
    cursor: pointer;
}

.getpageright {
    margin-left: 50px;
    cursor: pointer;
}

#jmap {
    width: 500px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

#calendar {
    display: none;
    width: 300px;
    height: 200px;
    background: #f1f7ff;
    position: absolute;
    opacity: 0.9;
    text-align: center;
    margin-left: 145px;
    border: 1px solid #B7D1DC;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    z-index: 1;
}

.savedentry {
    width: 150px;
    height: 40px;
    background: #ffbaba;
    top: 10px;
    margin-left: 45%;
    opacity: 0.7;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    border: 1px solid #e80a29;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    position: fixed;
    display: none;
}


.calendarstatic {
    margin-top: -180px;
    margin-left: 350px;
    width: 200px;
    height: 180px;
    text-align: center;
    position: absolute;
    border: 1px solid #B7D1DC;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.minicalendarone, .minicalendartwo {
    display: none;
    width: 200px;
    height: 180px;
    margin-top: -40px;
    margin-left: -180px;
    text-align: center;
    position: absolute;
    background: white;
    z-index: 5;
    border: 1px solid #B7D1DC;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.minicalendartwo {
    margin-left: -80px;
}

.calendarstatic.noperiod {
    margin-top: -130px;
}

.changedate {
    color: green;
    font-weight: bold;
    font-size: 12px;
}

.fulledit {
    height:10px;
    color:red;
    font-weight:bold;
    text-decoration:underline;
    cursor:pointer;
    text-align:center;
}

.calendarstatic table.calendar, .minicalendarone table.calendar, .minicalendartwo table.calendar {
    margin: 0 auto;
    width: 200px;
}

.calendarstatic table.calendar tr td, .minicalendarone table.calendar tr td, .minicalendartwo table.calendar tr td {
    text-align: center;
}

.calendarstatic table.calendar tr td:hover, .minicalendarone table.calendar tr td:hover, .minicalendartwo table.calendar tr td:hover {
    background: #ADF;
    cursor: pointer;
}


#confirmationyes, #confirmationfail, #confirmationduplicate, #confirmationfood {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.9;
}

#confirmationyes .yesbox, #confirmationfail .yesbox, #confirmationduplicate .yesbox {
    width: 300px;
    height: 150px;
    background: white;
    margin: 150px auto;
    border: 1px solid #B7D1DC;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

#confirmationfood .foodbox {
    width: 500px;
    height: 400px;
    background: white;
    margin: 100px auto;
    border: 1px solid #B7D1DC;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.border {
    width: 100%;
    border: 1px solid black;
}

.addnewfood, .addnewexercise {
    display: none;
}

.foodlist, .exerciselist {
    padding-bottom: 100px;
}

.exercise {
    display: none;
}

#nutrition {
    height: 190px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

#confirmationyes .yesbox button, #confirmationfail .yesbox button {
    margin-top: 100px;
    margin-left: 125px;
    width: 50px;
}


#confirmationduplicate .yesbox button[name=yes] {
    margin-top: 100px;
    margin-left: 90px;
    width: 50px;
}

#confirmationduplicate .yesbox button[name=no] {
    margin-left: 5px;
    width: 50px;
}


#confirmationyes .yesbox p, #confirmationfail .yesbox p, #confirmationduplicate .yesbox p {
    width: 300px;
    margin: 20px auto;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    text-align: center;
}

#confirmationyes .yesbox p img, #confirmationfail .yesbox p img, , #confirmationduplicate .yesbox p img {
    margin-bottom: -2px;    
}

.newperiod, .copylist, .newtype, .newunits, .basallist {
    display: none;
    background: #EEE;
}

ul.food_temp {
    border: 1px solid black;
    padding-left: 0px;
}

ul.food_temp li {
    padding: 0;
    margin: 0;
}


.cronlist {
    background: #EEE;
}

.copylist.subtable, .basallist.subtable {
    background: #AAA;
}

tr.subtd td {
    background: none;
}

tr.subtd, tr.basalsubtd {
    border: 1px solid black;
    background: #eff6fe;
}

.subtd:hover {
    background: #AAA;
    cursor: pointer;
}

img.clockup {
    position: absolute;
    padding-left: 5px;
    width: 21px;
    height: 10px;
}

img.calendar {
    position: absolute;
    margin-top: 4px;
    margin-left: 5px;
}

img.clockdown {
    position: absolute;
    padding-left: 5px;
    margin-top: 12px;
    width: 21px;
    height: 10px;
}

img.clockup:hover, img.calendar:hover, img.clockdown:hover {
    cursor: pointer;
}

.loginpanel {
    display: none;
    position: absolute;
    width: 300px;
    height: 150px;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
    right: 50px;
    background-color: #f6f8fa;
    border-bottom: 1px solid #B7D1DC;
    border-left: 1px solid #B7D1DC;
    border-right: 1px solid #B7D1DC;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.loginpanel ul li {
    list-style-type: none;
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
}

#reportitem {
    background-color: #f6f8fa;
    border: 1px solid #B7D1DC;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    padding: 5px;
}

.titlelinkreport {
    cursor: pointer;
    width: 80%;
}

.titlelinkreport:hover {
    opacity: 0.8;
    text-decoration: underline;
}


#reportitem .templatename {
    font-size: 16px;
    color: #555;
    font-weight: bold;
}

#reportitem .infotemplate {
    color: #888;
}

#reportitem .infocomment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: #555;
    text-align: justify;
    border: 1px solid #B7D1DC;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}


#reportitem .button_report_item {
    margin: 0 auto;
    width: 100%;
    text-align: right;
    display: block;
}

.ranges {
    text-align: center;
    color: #5C6879;
    font-size: 12px;
    font-weight: bold;
    width: 300px;
    margin: 0 auto;
    display: block
}

.buttonedit.rangebutton {
    margin-left: 210px;
}

.buttonedit.rangebutton.rangebuttonreport {
    width: 20px;
}

.error {
    color: red;
    font-size: 11px;
    margin-top: 10px;
    margin-left: 10px;
}

.loading {
    width: 100%;
    text-align: center;
    height: 20px;
    
}

#glucose_home {
    width: 100%;
    height: 500px;
}

#error {
    color: red;
    font-size: 11px;
}

.loginpanel ul li input[type=text], .loginpanel ul li input[type=password] {
    margin-left: 20px;
}

#sidebar2 h3 img {
    margin-bottom: -3px;
}

#panel {
    width: 80%;
    margin: 100px auto;
    padding: 10px;
    display: block;
    border-radius: 10px;
    border: 1px solid #B7D1DC;
    background: white;
    box-shadow: #BBC9D7 0 0 5px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
}

section {
    width: 990px;
    margin: 20px auto;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
    display: block;
    border-radius: 5px;
    background: white;
    border: 1px solid #B7D1DC;
    box-shadow: #black 0 0 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}


section h3{
    text-align: center;
    color: #5C6879;
    line-height: 30px;
    width: auto;
    margin: 0 auto;
    display: block
}

#sidebar2 h3, #sidebar3 h3 {
    width: 200px;
}

article#logbook h3, article#settings h3 {
    text-align: center;
    color: #5C6879;
    line-height: 30px;
    width: 200px;
    margin-left: 400px;
    position: absolute;
    display: block
}

section h3 img.right, section h3 img.left, article#logbook h3 img.right, article#logbook h3 img.left {
    cursor: pointer;
}

section#nologin {
    margin-top: 100px
}

#headline {
    text-align: center;
    padding: 50px 18px;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Droid Sans';
    letter-spacing: -1px;
    margin-top: -20px;
}

section.signup ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

section#management ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

#home ul li {
    list-style-type: none;
}

#feed {
    overflow-y:scroll;
    height: 200px;
    background: #EEE;
}

#home ul {
    width:700px;
    margin: 0 auto;
}

#headline img {
    margin-top: 5px;
    margin-bottom: -10px;
}

.green {
    color: #75A311;
}

.buttontab#disable {
    background: #4082ac;
    margin: 10px 0;
    padding: 3px 10px;
    color: white;
    border: 1px solid #84785e;
    box-shadow: black 5px 5px 5px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    cursor: pointer;
}

.buttontab#enable {
    background: #295d7e;
    margin: 10px 0;
    padding: 3px 10px;
    border: 1px solid #84785e;
    box-shadow: black 5px 5px 5px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    cursor: pointer;
    color: #bfe6ff; 
}

.buttontab#disable:hover {
    background: #295d7e;
    color: #bfe6ff; 
}

.checker {
    padding-left: 5px;
    margin-top: 2px;
    position: absolute;
    display: inline-block;
}

img.checkveryhigh, img.checkhigh, img.checknormal, img.checklow, img.checkverylow {
    padding-left: 5px;
    margin-top: 5px;
    position: absolute;
}

img.checksys, img.checkdia, img.checkpul {
    margin-top: 2px;
    position: absolute;
}

article#logbook ul li, article#settings ul li {
    list-style-type: none;
    padding: 5px 0;
}

input[type=text], input[type=password], input[type=email], input[type=number], textarea, select {
    background: #f1f7ff;
    padding: 2px;
    font-family: "Helvetica Neue",Arial,Helvetica;
    font-size: 12px;
    border: 1px solid #B7D1DC;
    box-shadow: #B7D1DC 5px 5px 5px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, textarea:focus, select:focus {
    background: #95b2de;
    border: 1px solid #1a56b1;
    color: black;
}
.foodlink {
    display:inline-block;
}

#muchfood {
    text-align: center;
    width: 170px;
    height: 200px;
    border: 1px solid #B7D1DC;
    float: right;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.nutrilink {
    display:inline-block;
}

.foodlink:hover, .nutrilink:hover {
    cursor: pointer;
    color: #95b2de;
}

#bodychart ul li, #bodyreport ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

#bodychart ul li a, #bodyreport ul li a {
    color: black;
    text-decoration: none;
}

#bodyreport ul li a.new {
    color: #5C6879;
    font-size: 14px;
    font-weight: bold;
}

#bodyreport ul li a.new:hover {
    text-decoration: underline;
}


#bodychart ul li img.chartimage {
    border: 1px solid #B7D1DC;
    opacity: 0.6;
    cursor: pointer;
    width: 100px;
    height: 64px;
}

.chartbox {
    height: 200px;
    border: 1px solid black;
    margin: 50px auto;
    padding: 5px;
    width: 600px;
    display: block;
    border: 1px solid #B7D1DC;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.chartbox ul li {
    float: left;
    width: 250px;
}

#genericchart {
    margin-top: 120px;
}

.addarrow {
    cursor: pointer;
    display: inline-block;
}

.periodsort {
    display: inline-block;
    width: 150px;
    padding-left: 10px;
}

.periods {
    background:#EEE;
    padding:5px;
}

.periods img {
    margin-left: 50px;
    padding-right: 10px;
}

.periods img:hover {
    cursor: pointer;
    opacity: 0.6;
}

.addarrow:hover {
    opacity: 0.6;
}

.dateto, .datefrom {
    width: 90px;
    display: inline-block;
}

.calendarfrom, .calendarto {
    margin-bottom: -3px;
    cursor: pointer;
}

.custom {
    display: none;
    width: 270px;
    background: #EEE;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.listfood {
    width:300px;
    padding:5px;
    cursor:pointer;
    display:inline-block;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.listfood:hover {
    background: #DDD;
}

.fooditems {
    background: #e7fbff;
    margin: 2px 5px;
    padding: 2px;
    display: inline-block;
    border: 1px solid #BBC9D7;
    box-shadow: #BBC9D7 5px 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.fooddetail {
    display: none;
}

.titlechart {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    font-weight: bold;
}

.buttonlogin, .button {
    background: #dee5ed;
    margin: 10px 5px;
    padding: 3px 10px;
    color: #214266;
    border: 1px solid #214266;
    box-shadow: black 5px 5px 5px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    cursor: pointer;
}


.buttonlogin:hover, .button:hover {
    background: #214266;
    color: #dee5ed; 
}


